
#page-navigation-footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

#page-navigation-footer .display-total-students {
    color: var(--color-gray-3, #A098AE);

    /* Text/Text Regular 2 */
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.display-total-students .number {
    color: #363B64;

    /* Text/Text Regular 2 */
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.page-navigation {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
}

.page-navigation .page-navigate-item {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;

    width: 50px;
    height: 50px;

    border-radius: 40px;
    border: 2px solid var(--color-gray-3, #A098AE);
}

.page-navigate-item .page-navigate-number {
    color: var(--color-gray-3, #A098AE);

    /* Text/Text Regular 1 */
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
