#add-student {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-right: 50px;
    gap: 40px;
    align-self: flex-start;
}

#add-student .add-student-header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    /* align-self: space-between; */
    align-items: center;
    width: 100%;
}

#add-student .student-form {}