.search-bar {
  display: flex;
  flex-flow: row nowrap;
  width: 350px;
  height: 60px;
  gap: 16px;
  padding: 23px 32px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 40px;
  background: var(--color-white, #fff);

  border: 2px solid var(--color-gray-3, #a098ae);

  .search-input {
    color: var(--color-gray-3, #a098ae);

    /* Text/Text Regular 1 */
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    border: none;
    text-decoration: none;

    background-color: #fff;
  }

  .search-input:focus {
    outline: none;
  }
}
