#teachers {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-right: 50px;
    gap: 40px;
    align-self: flex-start;
}

#teachers .teachers-header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    /* align-self: space-between; */
    align-items: center;
    width: 100%;
}

.teachers-header .header-text {
    color: var(--color-text, #303972);

    /* Heading/Heading 1 */
    font-family: Poppins;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.filter-bar {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}

.filter-bar .filter-btn {
    border-radius: 40px;
    border: 2px solid var(--color-purple, #4D44B5);

    /* Shadow */
    box-shadow: 0px 20px 50px 0px rgba(191, 21, 108, 0.05);

    padding: 16px 43px;
    gap: 16px;
    flex-shrink: 0;
    width: fit-content;
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
}

.filter-btn .btn-text {
    color: var(--color-purple, #4D44B5);

    /* Text/Text Regular 1 */
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.filter-bar .add-btn {
    border-radius: 40px;
    background: var(--color-purple, #4D44B5);

    /* Shadow */
    box-shadow: 0px 20px 50px 0px rgba(191, 21, 108, 0.05);

    padding: 16px 43px;
    gap: 16px;
    flex-shrink: 0;
    width: fit-content;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.add-btn .btn-text {
    color: var(--color-white, #FFF);

    /* Text/Text Regular 1 */
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#teachers .teachers-table {
    display: flex;
    flex-flow: row wrap;
    justify-items: flex-start;
    gap: 40px 40px;
}

.teachers-table .teacher-item {
    width: 338px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;

    gap: 24px;
    padding: 32px;
    height: fit-content;
    position: relative;
    border-radius: 20px;
    background: var(--color-white, #FFF);
}

.teacher-item .teacher-avatar {
    width: 120px;
    height: 120px;
    flex-shrink: 0;
    border-radius: 80px;
    background: var(--color-gray-2, #C1BBEB);
}

.teacher-item .teacher-info{
    text-align: center;
}

.teacher-info .teacher-name {
    color: var(--color-text, #303972);

    /* Heading/Heading 3 */
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    padding-bottom: 9px;
}

.teacher-info .teacher-subject {
    color: var(--color-gray-3, #A098AE);

    /* Text/Text Regular 1 */
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.teacher-item .teacher-contact {
    display: flex;
    flex-flow: row nowrap;
    gap: 16px;
}

.teacher-contact .icon-contact {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 40px;
    background: var(--color-purple, #4D44B5);

    display: flex;
    justify-content: center;
    align-items: center;
}

.teacher-item .action {
    position: absolute;
    top: 32px;
    right: 32px;
}