#add-teacher {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-right: 50px;
    gap: 40px;
    align-self: flex-start;
}

#add-teacher .add-teacher-header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    /* align-self: space-between; */
    align-items: center;
    width: 100%;
}

#add-teacher .teacher-form {}

.form {
    border-radius: 20px;
    background: var(--color-white, #FFF);
    margin-bottom: 40px;
}

.form .header {
    border-radius: 20px 20px 0px 0px;
    background: var(--color-purple, #4D44B5);
    color: #FFF;
    padding: 12px 40px;
}

.form .content {
    padding: 32px 40px;
    display: flex;
    flex-flow: row wrap;
    gap: 40px 24px;
}

#teacher-form .form-footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    gap: 26px;
}

.form-footer .submit {
    padding: 10px 24px;
    align-items: center;

    border-radius: 40px;
    background: var(--color-purple, #4D44B5);

    color: var(--color-white, #FFF);

    /* Text/Text Regular 1 */
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.form-footer .save {
    padding: 10px 24px;
    align-items: center;

    border-radius: 40px;
    border: 2px solid var(--color-purple, #4D44B5);

    color: var(--color-purple, #4D44B5);

    /* Text/Text Regular 1 */
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}