#user {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-top: 50px;
    margin-bottom: 50px;
    gap: 40px;
    align-self: flex-start;

    .user-header {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        /* align-self: space-between; */
        align-items: center;
        width: 100%;
    }
}

.dashboard-layout {
    display: flex;
    flex-flow: row wrap;
    gap: 50px;
    justify-content: flex-start;
    align-content: flex-start;
}

.plan-component {
    border-radius: 20px 20px 0px 0px;
    background: var(--color-green, #303972);
    position: relative;
    margin-top: 40px;
    color: var(--color-white, #FFF);
    padding: 32px;

    overflow: hidden;

    .action {
        position: absolute;
        top: 32px;
        right: 32px;
    }

    .first-rectangle {
        position: absolute;
        top: 139px;
        right: -15px;

        width: 100px;
        height: 294px;
        flex-shrink: 0;

        border-radius: 1000px;
        background: var(--color-yellow, #FCC43E);
    }

    .second-rectangle {
        position: absolute;
        top: 187px;
        right: 30px;

        width: 100px;
        height: 294px;
        flex-shrink: 0;

        border-radius: 1000px;
        background: var(--color-orange, #FB7D5B);
    }

    ul {
        padding-top: 32px;
        padding-bottom: 16px;
        padding-left: 20px;
    }

    li {
        color: var(--color-white, #FFF);

        /* Text/Text Semi Bold 1 */
        font-family: Poppins;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;

    }

    button {
        margin-top: 39px;
        padding: 8px 24px;


        color: var(--color-text, #303972);

        /* Text/Text Semi Bold 2 */
        font-family: Poppins;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;

        border-radius: 40px;
        background: var(--color-white, #FFF);
    }

}

.last-activity-component {
    padding-top: 40px;

    .list-activities {
        position: relative;
        display: flex;
        flex-flow: column wrap;
        gap: 32px;
        justify-content: flex-start;
        align-content: flex-start;
        max-width: 300px;

        .activity-item {
            display: flex;
            flex-flow: row nowrap;
            gap: 16px;

            &:last-child {
                position: relative;
                z-index: 4;
                background-color: #fff;
            }

            .avatar {
                border-radius: 40px;
                background: var(--color-gray-2, #C1BBEB);
                width: 40px;
                height: 40px;
                flex-shrink: 0;
            }

            .content {
                padding-bottom: 8px;
            }
        }
    }

    .process-activity {
        position: absolute;
        top: 0px;
        left: 20px;
        width: 2px;
        height: 100vh;
        stroke: var(--color-gray-2, #C1BBEB);
    }
}