#dashboard {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-top: 50px;
    gap: 40px;
    align-self: flex-start;
}

#dashboard .dashboard-header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    /* align-self: space-between; */
    align-items: center;
    width: 100%;
}

.dashboard-header .header-text {
    color: var(--color-text, #303972);

    /* Heading/Heading 1 */
    font-family: Poppins;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#dashboard .overview {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 48px;
    border-radius: 20px;
    background: var(--color-white, #FFF);
}

.overview .overview-item {
    display: flex;
    flex-flow: row nowrap;
    gap: 30px;
}

.overview-item .overview-content {
    display: flex;
    flex-flow: column wrap;
}

.overview-content .overview-title {
    color: var(--color-gray-3, #A098AE);

    /* Text/Text Regular 1 */
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.overview-content .overview-numb {
    color: var(--color-text, #303972);

    /* Heading/Heading 1 */
    font-family: Poppins;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.overview .overview-icon {
    width: 80px;
    height: 80px;
    flex-shrink: 0;

    border-radius: 40px;
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;
}

.side-status {
    background: var(--color-white, #FFF);
    padding: 50px 25px;
    align-self: flex-start;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
}

#dashboard .unpaid-student {
    padding: 32px;
    border-radius: 20px;
    background: var(--color-white, #FFF);
}

.unpaid-student .unpaid-student-header {
    color: var(--color-text, #303972);

    /* Heading/Heading 3 */
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.unpaid-student .list-unpaid-students {
    width: 100%;
}

.list-unpaid-students .student-item {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;

    padding: 28px 0px;
}

.student-item .student-img {
    width: 48px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 24px;
    background-color: #C1BBEB;
    object-fit: contain;
}

.student-item .student-name {
    color: var(--color-text, #303972);

    /* Text/Text Semi Bold 1 */
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.student-item .student-id {
    color: var(--color-purple, #4D44B5);

    /* Text/Text Semi Bold 1 */
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.student-item .student-class {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
}

.student-class .student-teacher {
    border-radius: 40px;
    background: var(--color-orange, #FB7D5B);
    width: 48px;
    height: 48px;
    flex-shrink: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.student-class .student-class-info {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.student-class-info .student-class-text {
    color: var(--color-gray-3, #A098AE);

    /* Text/Text Regular 2 */
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.student-class-info .student-class-content {
    color: var(--color-text, #303972);

    /* Text/Text Semi Bold 1 */
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

#dashboard .recent-students {
    /* display: flex; */
    /* flex-flow: column; */
    /* justify-content: flex-start; */
    /* gap: 30px; */
}

.recent-students .recent-students-header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 35px;

}

.recent-students-header .dashboard-aritcle {
    display: flex;
    flex-flow: column;
    gap: 4px;
    margin-bottom: 20px;
}

.dashboard-aritcle .dashboard-article-title {
    color: var(--color-text, #303972);

    /* Heading/Heading 3 */
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.dashboard-aritcle .dashboard-article-subs {
    color: var(--color-gray-3, #A098AE);

    /* Text/Text Regular 2 */
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.dashboard-article-subs .total {
    color: var(--color-gray-3, #A098AE);

    /* Text/Text Semi Bold 2 */
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.recent-students-header .add-message-student {
    width: 48px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 40px;
    background: var(--color-purple, #4D44B5);

    /* Shadow */
    box-shadow: 0px 20px 50px 0px rgba(191, 21, 108, 0.05);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.add-message-student .plus-text {
    color: var(--color-white, #FFF);
    font-family: Cairo;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    /* 85.714% */
}

.recent-students .recent-student-item {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 16px;

    margin: 15px auto;
}

.recent-student-item .recent-student-avatar {
    width: 48px;
    height: 48px;
    flex-shrink: 0;
}

.recent-student-item .recent-student-info {
    display: flex;
    flex-flow: column;
    gap: 4px;
    flex-grow: 1;
}

.recent-student-info .name {
    color: var(--color-text, #303972);

    /* Text/Text Semi Bold 2 */
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.recent-student-info .class {
    color: var(--color-gray-3, #A098AE);

    /* Text/Text Regular 2 */
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.recent-student-item .open-message-btn {
    width: 48px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 40px;
    border: 2px solid var(--color-gray-3, #A098AE);
    background: var(--color-white, #FFF);
}

.recent-students-viewmore {
    border-radius: 40px;
    background: var(--linear-transparent-purple-10, rgba(77, 68, 181, 0.10));
    padding: 17px 0px;
    margin: 35px 0px 0px;
    margin-bottom: 65px;
    width: 100%;


    color: var(--color-purple, #4D44B5);

    /* Text/Text Semi Bold 1 */
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    border: none;
}

.recent-students .recent-messages-item {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    gap: 16px;

    padding-bottom: 25px;
    margin-top: 22px;
    border-bottom: 1px solid #A098AE;
}

.recent-messages-item .recent-student-info {
    position: relative;
    display: flex;
    flex-flow: column;
    gap: 4px;
    flex-grow: 1;
}

.recent-student-info .message {
    
    color: var(--color-gray-3, #A098AE);

    /* Text/Text Regular 2 */
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 200px;
}

.recent-student-info .time-sending {
    position: absolute;
    top: 0;
    right: 0;
    color: var(--color-gray-3, #A098AE);

    /* Text/Text Regular 2 */
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.recent-students .post-item {
    display: flex;
    flex-flow: column wrap;
    gap: 4px;
    margin: 16px auto;
}

.post-item .post-thumbnail {
    border-radius: 18px;
    background: var(--color-gray-2, #C1BBEB);
    height: 160px;
    object-fit: contain;
    margin-bottom: 24px;
}

.post-item .title {
    color: var(--color-main, #363B64);

    /* Text/Text Semi Bold 1 */
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.post .des {
    color: var(--color-gray-1, #A098AE);

    /* Text/Text Regular 2 */
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 200px;
}