.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-grow: 1;
  align-items: center;
  padding: 0;
  background: var(--color-background, #F3F4FF);
  align-self: flex-start;
  margin-left: 50px;
  gap: 50px;
}
